
body{
    font-family: 'Poppins', sans-serif;
}

.box{
     color: black;

}



.box-name{
   
    width: 100px;
    align-items: center;
    padding: 0px 10px;
   
}
.box-name span{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    color: black;
    
}
    
.box-menu{
    width: 1000px;
    align-items: center;
    margin: 15px;
    justify-content: space-between;
}
/* box-menu-main  style  */


    .box-menu-main li a{
        text-transform: uppercase;
        font-size: 15px;
        font-weight: 600;
        padding: 15px;
       
    }
   
.underline:hover{
    padding-bottom: 10px;
    border-bottom-style: solid;
    border-bottom-width:  3px;
    width: fit-content;
    border-color: #f5df4e;
    
   }

.underline{
 
 transition: border;
  transition-delay: 0.5s;
  transition-timing-function: ease-in;
  
 
}
/* mobile style */
.box-menu-mobile li a{
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
    padding: 15px;
 }
.box-menu-mobile {
    display: flex;
    flex-direction: column;
    display: none;
}

.box-menu-mobile .underline {
    display: none;
}
.box-menu-mobile:hover .underline {
    display: block;
}




/* box-menu-main style end*/

.box-menu-social  {
    justify-content: space-between;
    width: 100px;
    font-size: larger;
    
}

      
 .box-menu-social i:hover{
     font-size: 25px;
     color: blue;
   
 }
    
 /*  second section style start  */

 .slider-box {
     width: 100%;
 }

.slider-img {
    height: 100vh;
    background-image: url(/project.images/intro-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
 background-position: center center;
    width: 100%;
    position: absolute;
}
.slider-effect {
    background: rgb(0, 0, 0, 0.6) ;
    height: 100vh;
    position: absolute;
    width: 100%;
}



.slider-content {
display: flex;
flex-direction: column;
position: absolute;
}

.slider-content h1, h2{
    color: white;
    text-transform: uppercase;

}

.slider-content h1 {
    font-size: 120px;
    margin: 0px;
    
}

.slider-button button {
    background-color: #f5df4e;
    width: 200px;
    height: 50px;
    margin-top: 15px;
    font-size: larger;

}

.slider-button button:hover {
    background-color: #d1b714;
    cursor: pointer;
}



/* third section style*/
.main-info {
    margin-top: 50px;
    width: 1150px;
}


.main-info h2 {
 font-size: 30px;
 margin: 0px;
 color: black;
 text-transform: capitalize;
}

.main-info .col-8 {
    padding: 0px 25px;
}


.back-yellow{
    background-color: #f5df4e;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    margin-bottom: 30px;
}

.experience span {
    
    font-size: 140px;
    z-index: 2;
    color: rgb(96 93 93);
    font-weight: bold;
}

.experience {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.experience h4{
    margin: 0px;
}


.info-item {
    
    margin-top: 136px;
    justify-content: space-around;
    color: #989494;
    margin-top: 50px;
    
}

.info-item :nth-child(2) {
    color: black;
}

 
/* fourth section style*/

.service {
    background-color: #f1f1f1;
    
}


.service-content {
    margin-top: 50px;
}


.service-row{
    padding: 10px 20px;
}

.col-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
}

.service-row i{
    font-size: 60px;
    color: #f5df4d;
    padding: 20px;
}

.service-row p{
    font-size: 16px;
    padding: 20px;
    color: gray;
    margin: 0px;
    text-align: center;
}

.service-row :nth-child(2) {
    font-size: x-large;
    font-weight: 600;
    text-transform: capitalize;
    color: black;

}

/* resume section style*/

.resume-content h4{
    font-weight: 600;
    font-size: xx-large;
}



.edu-row {
    margin-bottom: 20px;
}

.edu-row :nth-child(1) {
    font-size: x-large;
    font-weight: 500;
    margin: 0px;
}
   
.edu-row :nth-child(2) {
font-weight: 400;
font-size: medium;


}

.edu-row :nth-child(3) {
    font-size: 17px;
    color: gray;
    margin: 0px;
    font-weight: 400;
}

.item-detail{
    width: 520px;
    background-color: rgb(168, 168, 168);
    border-radius: 16px;
    box-sizing: inherit;

}

.round{
    border-radius: 16px;
    background-color: #f5df4d;
    box-sizing: inherit;
    height: 10px;

}

.block-button{
    width: 180px;
    background-color: white;
    margin-top: 30px;
}

.block-button button{
    width: inherit;
    font-size: 17px;
    font-weight: 500;
    height: 50px;

}

.block-button  :hover{
    background-color: black;
    color: white;
    transition: background-color 1s ease;
}

/* portfolio section style*/
.project-menu ul{
    
    align-items: center;
    color: gray;
    font-weight: 500;
}

.menu-items li :hover{
    color: black;
    cursor: pointer;
}
   

.project-content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 340px  340px;
    margin: 0 auto;
    gap: 20px;
    margin-top: 30px;

}

.project-content-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
    
}
.project-content-item {
    position: relative;
}



.image-hover{
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 72%);
    position: absolute;
    cursor: pointer;
    opacity: 0;
    top: 0;
    left: 0;
    transition: all .1s ease;
    
}

.img-detail {
    display: flex;
    justify-content: center;
    height: 200px;
    padding-top: 100px;
    flex-direction: column;
}
.img-detail .icon {
  
    margin: 0px auto;
    font-size: xx-large;
    padding-bottom: 10px;
}

.img-head {
    margin: 0px auto;

}
.img-head h {
    font-size: x-large;
    font-weight: 500;

}

.img-head p {
    padding-left: 58px;
    font-size: larger;
}

.project-content-item:hover .img-head p,h{
    color: white;
}

.project-content-item:hover .img-detail i{
    color: #f5df4d;
}



.project-content-item:hover .image-hover{
    opacity: 1;
    transition: all 4s ease;
    display: block;
}

/* file section style*/

.img-file img{
background-image: url(/project.images/intro-bg-2.jpg);
background-size: cover;
background-repeat: no-repeat;
position: center center;
height: inherit ;
width: 100%;
}

.img-effect {
    width: 100%;
    background: rgb(0 0 0 / 72%)  ;
    position: absolute;
    height: inherit;
}

.file {
    height: 507px;
    margin-top: 60px;
}


.img-file {
    position: absolute;
    width: 100%;
    height: inherit;
}


/* client style */

.client {
    padding: 100px;
}

.owner-info {
    width: 90px;
    height: 80px;
}

.owner-info img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.client-content {
    margin: 0px auto;
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

/* contact style */

.contact-info i {
margin-left: 20px;
font-size: x-large;
color: #363434;
}

form {
    margin: 25px;
}



input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid black;
    background-color: #f5df4d;
    line-height: 41px;
    font-size: larger;

  }

  input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid black;
    background-color: #f5df4d;
    line-height: 41px;
    font-size: larger;
  }

  textarea {
    width: 100%;
    height: 130px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    background-color: #f5df4d;
    font-size: 16px;
    resize: none;
    border-bottom: 1px solid black;
  }
 
  button[type=send] {

    background-color: black;
    padding: 12px 0px;
    color: white;
    font-size: larger;
    margin-bottom: 30px;
    width: 118px;
    
  }


  button[type=send] i{
      margin-left: 17px;
  }

  /* footer style*/
  
  .footer {
      height: 150px;
  }

  .footer a{
      color: #f5df4e;
  }